/* BASIC STYLES HERE */
.card {
  height: 75vh;
  overflow-y: scroll;

}

/* SECTION scrollbar */
.card::-webkit-scrollbar {
  border-radius: 0 5px 5px 0;
}

.card::-webkit-scrollbar-button {
  display: none;
}

.card::-webkit-scrollbar-track {
  background: #fff;
  border-radius: 0 5px 5px 0;
}


.card::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* !SECTION */

.pokeImg {
  height: 25vh;
}